.author{
    position: absolute;
    bottom: 48px;
    width: 304px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Fredoka', sans-serif;
    z-index: 3;
    font-weight: 400;
    font-size: 16px;
}
@media (max-width: 558px) {
  
    .author{
        bottom: 20px;
    }
  }